{% extends 'admins/adminbase.html'%}
{%load static%}
{%block contents%}
<!--<style>-->
<!--    .bg-light{-->
<!--    margin-top: -500px;-->
<!--    background: #65cd00;-->
<!--    padding:10px;-->
<!--    }-->

<!--</style>-->

<section class="we-do">
    <div class="container">
        <div class="we-do-details">
            <div class="section-header text-center">
                <h2>Admin Home</h2>
                <p>
                    Given that both cyber academics and cyber practitioners need
                    to have a deep comprehension of cybersecurity rules, artificial
                    intelligence (AI) in cybersecurity can be a crucial tool in both
                    education and awareness. By offering an in-depth demonstration
                    of how AI may help in cybersecurity education and awareness and
                    in creating policies fast and to the needed level, this study focuses
                    on the efficiency of AI-driven mechanisms in strengthening the
                    entire cyber security education life cycle.
                </p>
            </div><!--/.section-header-->

        </div><!--/.we-do-details-->
    </div><!--/.container-->
</section><!--/.we-do-->


{%endblock%}