{%extends 'base.html'%}
{% load static %}

{%block contents%}
<section class="we-do">
    <div class="container">
        <div class="we-do-details">
            <div class="section-header text-center">
                <h2>AI-Driven Customized Cyber Security Training and Awareness</h2>
                <p>
                    Artificial intelligence (AI) has been successfully
                    used in cyber security for enhancing comprehending,
                    investigating, and evaluating cyber threats. It can effectively
                    anticipate cyber risks in a more efficient way. AI also helps in
                    putting in place strategies to safeguard assets and data. Due to
                    their complexity and constant development, it has been difficult to
                    comprehend cybersecurity controls and adopt the corresponding
                    cyber training and security policies and plans.
                </p>
            </div><!--/.section-header-->

        </div><!--/.we-do-details-->
    </div><!--/.container-->
</section><!--/.we-do-->

{%endblock%}
